.camisas{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 234);}
.botellas{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(207, 134, 243);}
.jarras{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 243);}
.llaveros{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 238);}
.gorras{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(221, 134, 243);}